<h2>Facture</h2>
<h3>
    Project : {{ name }}
</h3>
<div>
    Recapitulation of project:

    Budget: {{ budget }}
    Duration (in hours) : {{ duration }}
    Cost: {{ cost }}
    Starting Date {{ start }}
    Ending Date {{ end }}
</div>

Thank you for using Amagantt !
See you soon !